@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('btn_cerrarSession.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed';
}

body {
    padding: 20px;
    height: 100vh;
    background: linear-gradient(#584bb4, #6a416b, #685082);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 500px; 
    background: linear-gradient(#6051e0, #ad79b9);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    height: 600px;
    /*margin-top: -200px;*/
    
}

.header_titulo {
    text-align: center;
    background-color: #6b5ae4;
    padding: 8px 20px;
    margin-top: 20px;
    border-radius: 40px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
    box-shadow: 2px 2px 4px #2a2929;
}


.seleccion-categoria {
    margin-bottom: 30px;
}

.seleccion-categoria label {
    font-size: 18px;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

#categoria {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 70%;
    margin: 10px;
}

.ranking {
    color: #fff;
}

.ranking h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.info-usuario p {
    font-size: 18px;
    margin-bottom: 10px;
}

.ranking-lista ul {
    list-style-type: none;
    padding: 0;
}

.ranking-lista li {
    font-size: 18px;
    margin-bottom: 8px;
}

.volver-atras {
    text-align: center;
    margin-top: 60px;  /* Espacio antes del botón */
}

 .btn {
    background-color: #66499e;
            color: #fff;
            border: 0;
            padding: 6px 10px;
            font-size: 18px;
            border-radius: 15px;
            cursor: pointer;
            margin-top: 30px;
}

 .btn:hover {
    background-color: #2a2929;
}

.label-rankings{
    color: white;
    font-size: 1.5rem;
    
}

.select-rankings{
    margin-top: 30px;
}

.ranking-container{
    padding: 10px;
    max-height: 267px; 
    overflow-y: scroll;        
    border-radius: 5px;
    width: 70%;  /* Ancho igual al del formulario select */
    margin: 0 auto;  /* Centrado */
    scroll-behavior: smooth;
            
}

/* Estilo de scrollbar en navegadores basados en WebKit */
.ranking-container::-webkit-scrollbar {
    width: 6px;
}

.ranking-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Color sutil para la parte móvil */
    border-radius: 10px;
}

.ranking-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Fondo más claro para el track */
}


.ranking-item{
    font-size: 20px;
    color: white;
    padding: 5px;
    background-color: #66499e;
    border-radius: 50px;
    margin: 6px auto;
    display: flex;
    justify-content: space-between;
    max-width: 200px;
}


/* Estilo para la posición enfocada del usuario */
.current-user {
    background-color: yellow; /* Fondo amarillo */
    color: black; /* Texto negro */
}



.ranking-position,
.ranking-name,
.ranking-percentage {
    font-weight: bold;
    font-size: 16.5px;
}
.ranking-position {
    margin-left: 3px;
}

.ranking-percentage {
    margin-right: 3px;
}



